{% load static %}

<html>
    <head>
        <title>Merchex</title>
         <link rel="stylesheet" href="{% static 'listings/styles.css' %}" />
    </head>
    <body>
         <header>
        <nav>
            <a href="{% url 'hello' %}">Accueil</a>
            <a href="{% url 'about-us' %}">À propos</a>
            <a href="{% url 'contact-us' %}">Contact</a>
            
        </nav>
        <h1>À propos de nous</h1>
    </header>

        {% block content %}{% endblock %}

    </body>
      <footer>
        <p>&copy; 2025 Votre Société. Tous droits réservés.</p>
    </footer>
</html>