{% extends 'listings/base.html' %}

{% block content %}

<h2>{{ listing.title }}</h2>

<ul>
    <li>Type : {{ listing.get_type_display }}</li>
    <li>Année : {{ listing.year }}</li>
    <li>Statut : {{ listing.sold|yesno:"Vendu,En vente" }}</li>
    {% if listing.band %}
    <li>Groupe associé : <a href="{% url 'band-detail' listing.band.id %}">{{ listing.band.name }}</a></li>
    {% endif %}
</ul>

<p>{{ listing.description }}</p>

<a href="{% url 'listing-update' listing.id %}">Modifier cette annonce</a>

{% endblock %}